<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <style>
        body {
            font-family: "Malgun Gothic";
            background-color: aliceblue;
        }
    </style>
</head>
<body>
<form method="GET" th:action="@{/index}">
    <button style="font-size: 15px" type="submit">Главная страница</button>
</form>
<br>
<h3>Корзина товаров</h3>
<div th:each="product : ${cart_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="150px">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <a th:href="@{/cart/delete/{id}(id=${product.getId()})}">Удалить товар</a>
    <hr>
</div>
<h3 th:text="'Итоговая цена: ' + ${price}"></h3>
<a href="/order/create">Заказать</a>
</body>
</html>