<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <style>
        body {
            font-family: "Malgun Gothic";
            background-color: aliceblue;
        }
    </style>
</head>
<body>
<form method="GET" th:action="@{/index}">
    <button style="font-size: 15px" type="submit">Главная страница</button>
</form>
<br>
<form method="GET" th:action="@{/orders/delete}">
    <button style="font-size: 15px" type="submit">Удалить заказ</button>
</form>
<br>
<h3>Заказы</h3>
<div th:each="order : ${orders}">
    <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
    <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}" width="100px">
    <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}">
    <p th:text="'Количество: ' + ${order.getCount()}">
    <p th:text="'Цена: ' + ${order.getPrice()}">
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
    <p th:text="'Cтатус: ' + ${order.getStatus()}">
</div>
</body>
</html>