<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <style>
        body {
            font-family: "Malgun Gothic";
            background-color: aliceblue;
        }
    </style>
</head>
<body>
<form method="GET" th:action="@{/index}">
    <button style="font-size: 15px" type="submit">Главная страница</button>
</form>
<br>
<div style="margin: 10px auto; padding: 20px; width: 1400px; border: 1px solid darkseagreen; border-radius:10px; background-color: white;">
    <h3 style="text-align: center;">Заказы</h3>
    <div th:each="order : ${orders}">
        <h4 th:text="'Заказ №' + ${order.getNumber()}"></h4>
        <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}" width="100px">
        <p style="text-decoration: underline;" th:text="'Наименование: ' + ${order.getProduct().getTitle()}">
        <p th:text="'Количество: ' + ${order.getCount()}">
        <p th:text="'Цена: ' + ${order.getPrice()} + ' руб.'">
        <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
        <p th:text="'Cтатус: ' + ${order.getStatus()}">
    </div>
    <hr>
</div>
</body>
</html>