<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid  justify-content-start">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/icon.png}" width="50" height="50" class="d-inline-block align-text-center">
            ПродуктыОнлайн
        </a>
        <form method="POST" th:action="@{/logout}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <button class="btn btn-outline-primary me-md-2" type="submit">Выйти из личного кабинета</button>
        </form>
    </div>
</nav>
<div class="container w-80 p-3">
    <h4 class="text-center">Личный кабинет администратора</h4>
    <div class="row mt-3">
        <h5 class="text-center">Работа с пользователями</h5>
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col col-md-auto">#</th>
                    <th scope="col col-md-auto">Логин</th>
                    <th scope="col col-md-auto">Имя</th>
                    <th scope="col col-md-auto">Роль в системе</th>
                    <th scope="col col-md-auto">Телефон</th>
                    <th scope="col col-md-auto"></th>
                    <th scope="col col-md-auto"></th>
                </tr>
            </thead>
            <tbody th:each="user : ${users}">
                <tr>
                    <th scope="row" th:text="${user.getId()}"></th>
                    <td th:text="${user.getLogin()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getRole()}"></td>
                    <td th:text="${user.getTelephone()}"></td>
                    <td><form th:action="@{/admin/edit_person/{id}(id=${user.getId()})}"><button type="submit" class="btn btn-light" th:name="action" value="Изменить роль">Изменить роль</button></form></td>
                    <td><form th:action="@{/admin/view_orders/{id}(id=${user.getId()})}"><button type="submit" class="btn btn-light" th:name="action" value="История заказов">История заказов</button></form></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5 class="text-center">Работа с заказами</h5>
    <div class="row mt-3">
        <div class="col"></div>
        <div class="col">
            <form th:method="POST" th:action="@{/admin/view_orders/search_order}">
            <div class="input-group mb-3">
                <input type="text" class="form-control" th:name="search_order" th:value="${search_order}" id="search_order" placeholder="Укажите последние символы заказа:" aria-label="Укажите последние символы заказа:" aria-describedby="button-find">
                <button type="submit" class="btn btn-outline-primary" id="button-find">Найти</button>
            </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table table-hover">
                <thead class="table-light">
                <tr>
                    <th scope="col col-md-auto"># заказа</th>
                    <th scope="col col-md-auto">Статус</th>
                    <th scope="col col-md-auto">Дата</th>
                    <th scope="col col-md-auto">Сумма</th>
                    <th scope="col col-md-auto">Имя</th>
                </tr>
                </thead>
                <tbody th:each="ord : ${orders_find}">
                <tr>
                    <th scope="row" th:text="${ord.getNumber()}"></th>
                    <td th:text="${ord.getStatus()}"></td>
                    <td th:text="${#temporals.format(ord.getDateTime(),'dd-MM-yyyy')}"></td>
                    <td th:text="${ord.getPrice()} + ' руб.'"></td>
                    <td th:text="${ord.getPerson().getUsername()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h5 class="text-center mt-3">Редактирование заказа</h5>
    <div class="row mt-3">
        <div class="col">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col col-md-auto">ID</th>
                        <th scope="col col-md-auto"># заказа</th>
                        <th scope="col col-md-auto">Статус</th>
                        <th scope="col col-md-auto">Дата</th>
                        <th scope="col col-md-auto">Сумма</th>
                        <th scope="col col-md-auto"></th>
                        <th scope="col col-md-auto"></th>
                    </tr>
                </thead>
                <tbody th:each="order : ${orders}">
                    <tr>
                        <form th:method="POST" th:action="@{/admin/view_orders/{id}(id=${order.getPerson().getId()})}">
                            <th scope="row"><input type="text" class="form-control" readonly th:name="order_id" id="order_id" th:value="${order.getId()}"></th>
                            <td><input class="form-control" type="text" readonly th:name="order_number" id="order_number" th:value="${order.getNumber()}"></td>
                            <td>
                                <select th:name="status" class="form-select">
                                    <option th:each="i : ${status}" th:value="${i}" th:text="${i}" th:selected="${i==order.getStatus()}"></option>
                                </select>
                            </td>
                            <td><input type="text" class="form-control" readonly th:value="${#temporals.format(order.getDateTime(),'dd-MM-yyyy')}"></td>
                            <td><input type="text" class="form-control" readonly th:value="${order.getPrice()} + ' руб.'"></td>
                            <td>
                                <a class="btn btn-outline-danger me-md-2" th:href="@{admin/view_orders/admin/delete_order/{idOrder}(idOrder=${order.getId()})}">Удалить</a>
                            </td>
                            <td><button class="btn btn-outline-success me-md-2" type="submit">Сохранить</button></td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<h5 class="text-center">Работа с товарами</h5>
<div class="text-center">
    <a class="btn btn-primary mt-3 mb-3 d-block mx-auto col-1" th:href="@{admin/product/add}">Добавить товар</a>
</div>
<div class="w-80 p-3">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col" th:each="product : ${products}">
            <div class="card border-dark h-100" style="width: 500px;">
                <img class="card-img-top" th:src="'/img/' + ${product.imageList[0].getFileName()}">
                <h5 class="card-title text-center text-royalblue" th:text="${product.getTitle()}"></h5>
                <div class="w-90 p-3">
                    <p class="card-text text-left" th:text="'Описание: ' + ${product.getDescription()}"></p>
                    <p class="card-text text-left" th:text="'Цена: ' + ${product.getPrice()} + ' руб.'"></p>
                    <p class="card-text text-left" th:text="'Cклад: ' + ${product.getWarehouse()}"></p>
                    <p class="card-text text-left" th:text="'Продавец: ' + ${product.getSeller()}"></p>
                    <p class="card-text text-left" th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
                </div>
                <a class="btn btn-outline-warning btn-sm d-block mx-auto col-5 mb-3" th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактирование товара</a>
                <a class="btn btn-outline-danger btn-sm d-block mx-auto col-4 mb-3" th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удаление товара</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>