<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аутентификация</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <style>
        body {
            font-family: "Malgun Gothic";
        }
    </style>
</head>
<body>
<div style="display: flex; flex-direction: column; width:500px; height: 300px; background-color: lightcyan; margin: 100px auto; padding: 10px; border: 2px solid darkseagreen; border-radius:20px;">
    <h3 style="text-align: center">Вход</h3>
    <div style="margin-left: auto; margin-right: auto;">
        <form method="POST" action="/process_login">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div style="display: flex; float: left; padding: 10px;">
                <div style="width: 240px; padding: 20px 0; text-align: right;">
                    <label for="username">Логин: </label><br><br>
                    <label for="password">Пароль: </label>
                </div>
                <div style="width: 240px; padding: 10px;">
                    <input style="height: 25px" type="text" placeholder="Введите логин" name="username" id="username"><br><br>
                    <input style="height: 25px" type="password" placeholder="Введите пароль" name="password" id="password">
                </div>
            </div>
            <div style="text-align: center;">
                <input style="font-size: 16px" type="submit" value="Войти">
            </div>
        </form>
    </div>
    <div style="text-align: center; color: red; padding: 10px;" th:if="${param.error}">
        Неправильный логин или пароль
    </div>
    <div style="text-align: center; padding: 10px;">
        <a href="/registration" style="text-decoration: none; color: dodgerblue">Зарегистрироваться</a>
    </div>
</div>
</body>
</html>