<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <style>
        body {
            font-family: "Malgun Gothic";
            background-color: aliceblue;
        }
    </style>
</head>
<body>
<div style="display: flex; flex-direction: column; width:500px; height: 500px; background-color: lightcyan; margin: 100px auto; padding: 10px; border: 2px solid darkseagreen; border-radius:20px;">
    <h3 style="text-align: center">Регистрация</h3>
    <div style="margin-left: auto; margin-right: auto;">
        <form th:method="POST" th:actioin="@{/registration}" th:object="${person}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <label for="login">Введите логин: </label>
            <input type="text" th:field="*{login}" id="login">
            <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
            <br>
            <label for="password">Введите пароль: </label>
            <input type="password" th:field="*{password}" id="password">
            <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <br>
            <label for="username">Укажите имя:</label>
            <input type="text" th:field="*{username}" id="username"><br>
            <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            <br>
            <label for="address">Укажите адрес доставки:</label>
            <input type="text" th:field="*{address}" id="address"><br>
            <div style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
            <br>
            <label for="telephone">Укажите номер телефона:</label>
            <input type="text" th:field="*{telephone}" id="telephone"><br>
            <div style="color: red" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></div>
            <br>
            <div style="text-align: center;">
                <input style="font-size: 15px" type="submit" value="Зарегистрироваться">
            </div>
        </form>
    </div>
    <div style="text-align: center; padding: 10px;">
        <a style="text-decoration: none; color: dodgerblue" href="/authentication">Вход</a>
    </div>
</div>
</body>
</html>